@using ThesisManager.Web.Models.User
@model IList<UserListModel>

@{
    ViewBag.Title = "Nutzerliste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Grid", "User", FormMethod.Get, new { role = "form", @class = "form-horizontal" })) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>Login</td>
            <td>Vorname</td>
            <td>Nachname</td>
            <td>Typ</td>
            <td>Optionen</td>
        </tr>
        @foreach (UserListModel userListModel in Model) {
            <tr>
                <td>@userListModel.Login</td>
                <td>@userListModel.Firstname</td>
                <td>@userListModel.Lastname</td>
                <td>@userListModel.UserType</td>
            </tr>
        }
    </table>
}

@Scripts.Render("~/bundles/chosen")